---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="fr" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de Julyan KLEIN - Étudiant BUT Informatique" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		
		<!-- Script de suivi Umami (Configuré pour ton domaine Raspberry Pi) -->
		<!-- <script async src="https://analytics.tondomaine.duckdns.org/script.js" data-website-id="TON-ID-UNIQUE"></script> -->
	</head>
	<body class="bg-brand-bg text-brand-text font-sans selection:bg-brand-purple/30 selection:text-white antialiased min-h-screen">
		<slot /> <!-- C'est ici qu'Astro injectera le contenu de tes pages -->
	</body>
</html>